<mat-toolbar color="primary">
    <span>Github Profiles</span>
    <button mat-icon-button>
      <mat-icon>highlight</mat-icon>
    </button>
</mat-toolbar>

<div class='search'>
    <img src='../../assets/img/github-light.png' class='logo'>

    <mat-form-field class="field">
        <mat-label>Github username</mat-label>
        <input autocomplete="off" matInput placeholder="Ex. Pizza">
    </mat-form-field>

    <button mat-flat-button color="primary">
        Search user
    </button>
</div>
