<mat-toolbar color="primary">
    <span>Github Profiles</span>
    <button mat-icon-button>
      <mat-icon>highlight</mat-icon>
    </button>
</mat-toolbar>

<div class='search'>
    <img src='../../assets/img/github-light.png' class='logo'>

    <form [formGroup]="form" (ngSubmit)="search()" class='form'>
        <mat-form-field class="field">
            <mat-label>Github username</mat-label>
            <input autocomplete="off" matInput formControlName='username'>
            <mat-error *ngIf="form.get('username').hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" type='submit'>
            Search user
        </button>
    </form>

</div>
